/* HEADER */
.logo_search {
	background-color: #f8f8f8;
	height:80px;
	width:100%;
}

#header_table{
	margin-left:15%;
	margin-top:1%;
	vertical-align: middle;
	display:inline-block;
}

#header_title{
	vertical-align:middle;
	margin-right:5%;
	display:inline-block;
}

#formbase_search{
	background-color: #f0f0f0;
	border-radius: 5px;
	width: 250px;
	height: 30px;
	color: #d3d3d3;
	border: 1px solid #d9d9d9;
	vertical-align:middle;
	display:inline-block;
}

#search_button{
	background-color: #2fa0d9;
	border-radius: 5px;
	color: #FFFFFF;
	border: none;
	height: 30px;
	width: 30px;
	display:inline-block;
}

.details{
	margin-left:35%;
	padding-left: 0.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	width:40%;
}

.details span{
	display:inline-block;
}

.value{
	color: #2fa0d9;
	padding-right:1%;
}

.details a{
	color: #2fa0d9;	
}

.topbar{
    background-color: #f8f8f8;    
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.topbar a {
    display: block;
    width: 150px;
    text-align:center;
    color: #000000;
}

.topbar a:hover{
	color: #2fa0d9;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topbar li {
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 16%;
}

/* HEADER END */

/* CAROUSEL */


#slider1_container{
	position: relative;
	top: 5px;
	left: 4%;
	width: 690px;
	height: 190px;
	display:inline-block;
	vertical-align: top;
}	

/* CAROUSEL END */

/* BODY */

*{
	margin: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

html {
	height: 100%;
}

body{
	background-image: url("../images/background.png");
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
	position: relative;
	max-width: 1200px;
	width:100%; 
	margin:0 auto; 	
}

#content{
	width:65%;
	display:inline-block;
	background-color:#FFFFFF;
	vertical-align: top;
}

#welcome_text {
	padding:20px;
}

#wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* BODY END */

/* FOOTER */

.footer{
	background-color: #002149;
	color: #FFFFFF;
	padding-left: 25%;
	padding-top:30px;
	padding-bottom:30px;
	position:fixed;
}

.footer #footer_logo{
	text-align: center;
}

.footer #footer_text{
	display:inline-block;
}

